
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="dashboard">Resource Adda</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="customer">Customer</a></li>
        <li><a ui-sref=".customerdashboard">Customer Dashboard</a></li>
        <li><a ui-sref=".customerprofile">Customer Profile</a></li>
        <li><a ui-sref=".post_a_req">Post a Request</a></li>
        <li><a ui-sref=".searchresource">Search Resource</a></li>
        <li><a ui-sref="login">LogOut</a></li>
      </ul>
    </div>
  </nav>
  <h1>customer</h1>
  <div ui-view></div>